.patients-table-container {
    margin: 0px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .patients-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
  }
  
  .patients-table th {
    background-color: #f8f9fa;
    color: #495057;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 15px;
    text-align: left;
  }
  
  .patients-table td {
    padding: 15px;
    background-color: #ffffff;
    transition: all 0.3s ease;
  }
  
  .patients-table tr:nth-child(even) td {
    background-color: #f1f3f5;
  }
  
  .patients-table tr:hover td {
    background-color: #b1c4c5;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .call-status-icon {
    font-size: 1em;
  }
  
  .call-pending-icon {
    color: #ff0000;
  }
  
  .call-done-icon {
    color: #28a745;
  }